* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
}

.app {
  display: flex;
  height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
nav {
  height: 100%;
  background-color: #3c3f47;
  width: 12rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}
.logo{
  font-size: 1rem;
  margin-bottom: 2rem;
}
.nav-items{
  width: 80%;
  display: flex;
  flex-direction: column;
}
.nav-items *{
  margin-bottom: 0.8rem;
  font-size: 0.88rem;
  font-weight:500;
  color: #EFEFEF;
  display: flex;
}
.nav-icon{
  /* margin-top: 0.1rem; */
  margin-right: 0.4rem;
  font-size: 1.2rem;
}
main {
  width: calc(100% - 12rem);
  height: 100vh;
  overflow: auto;
  /* background: pink; */
  padding: 1.5rem 2rem;
}


.heading{
  font-weight: 500;
}

.h1{
  margin-bottom: 1rem;
}

.bn632-hover {
  width: 130px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 35px;
  text-align:center;
  border: none;
  margin-bottom: 2rem;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn27 {
    background-image: linear-gradient(
      to right,
      #ed6ea0,
      #ec8c69,
      #f7186a,
      #fbb03b
    );
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }